<%-include("partials/header")-%>


<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" placeholder="input Title">
        <label>Content</label>
        <textarea class="form-control" rows="5" cols="30" name="content" placeholder="input Content"></textarea>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </div>
</form>


<%-include("partials/footer")-%>